In [1]:
import pandas as pd
df = pd.DataFrame({'sex' : ['F','M','F','M'],
                  'country' : ['Korea','China','Japan','USA']})
df

  sex country
0   F   Korea
1   M   China
2   F   Japan
3   M     USA

In [3]:
# 조건에 문자 조건이 들어갈 경우 큰따옴표 사용
df.query('sex == "F" & country == "Korea"')

  sex country
0   F   Korea

In [4]:
# 반대로 조건에 큰따옴표를 썼을 경우 조건에 작은 따옴표 사용
df.query("sex == 'M' & country == 'China'")

  sex country
1   M   China