In [9]:
import pandas as pd
import numpy as np

exam = pd.read_csv('exam.csv')
exam.loc[[2,7,14],['math']] = np.nan # 2,7,14행의 math에 NaN 할당
exam.isna().sum()
# df.loc[]은 데이터의 위치를 지칭, loc[행,열] 형식으로 사용

id         0
nclass     0
math       3
english    0
science    0
dtype: int64

In [4]:
exam['math'].mean()

55.23529411764706

In [6]:
exam['math'] = exam['math'].fillna(55) # 결측치 평균값으로 대체
exam.head()

   id  nclass  math  english  science
0   1       1  50.0       98       50
1   2       1  60.0       97       60
2   3       1  55.0       86       78
3   4       1  30.0       98       58
4   5       2  25.0       80       65

In [7]:
exam['math'].isna().sum()

0

In [12]:
mpg = pd.read_csv('mpg.csv')
mpg.loc[[64,123,130,152,211],"hwy"] = np.nan
mpg[['drv','hwy']].isna().sum()

drv    0
hwy    5
dtype: int64

In [16]:
mpg.dropna(subset = ['hwy'])\
    .groupby('drv')\
    .agg(mean = ('hwy','mean'))

          mean
drv
4    19.242424
f    28.200000
r    21.000000