In [1]:
import pandas as pd
import numpy as np

# np.where() 는 문자와 NaN을 함께 반환할 수 없다.
# 다른 문자로 반환후 replace()를 사용하여 np.nan 으로 바꿔주어야 한다.

df = pd.DataFrame({'x1' : [1,1,2,2]})
df['x2'] = np.where(df['x1'] == 1, 'a', np.nan)
df

   x1   x2
0   1    a
1   1    a
2   2  nan
3   2  nan

In [2]:
df.isna()

      x1     x2
0  False  False
1  False  False
2  False  False
3  False  False

In [3]:
df['x2'] = np.where(df['x1'] == 1 , 'a', 'etc')
df['x2'] = df['x2'].replace('etc',np.nan)
df

   x1   x2
0   1    a
1   1    a
2   2  NaN
3   2  NaN